/* style.css*/

body {
    margin: 0;
    background: #1f2937;
}

.header {
    background: #1f2937;
    display: flex;
}

.logo {
    font-weight:bold;
    color: #f9faf8 ;
    font-size: 12px;
    display: flex;
    flex-grow: 2;
    margin-left: 100px;
    align-items: center;
}

ul {
    
    list-style-type: none; /* this removes the dot next to ours items */
    display: flex;
    gap: 30px;
    color: #f9faf8;
    align-items: center;
}

.upleft {
    display: flex;
    margin:24px;
    margin-right: 150px;
}

a {
    text-decoration: none; /* this removes the line under our links */
    color: #f9faf8
}

.top {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 150px;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
}

.topleft {
    display: flex;
    flex-direction: column;

}

.hero.main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero.secondary {
    font-size: 18px;
    color:#e5e7eb;
    display: flex;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 4px 2px;
}

.button1
    {
        border-radius: 12px;
    }

.description {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

img {
    height: 250px;
    width: 500px;
}

.mainpicture {
    display:flex
}

.middle {
    background: #f9faf8;
    margin-top: 100px;
    padding: 80px;
    width: auto;
}

.middletitle {
    display: flex;
    justify-content: center;
    color: #1f2937;
    margin-bottom: 40px;
}

.middleboxes {
    display:flex;
    justify-content: center;
    margin-right: 150px;
    margin-left: 200px;
    align-items: center;
    flex-wrap: nowrap;
}

.services {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    
}

.middletext {
    color: #1f2937;
    text-align: center;
}

.box1.box2.box3.box4 {
    display:flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.author {
    display: flex;
    align-self: flex-end;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: -40px;
    font-weight: bold;
    font-size: 25px;
}

.quote {
    margin-left: 200px;
    margin-right: 300px;
    text-align: center;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}